<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="taps-t">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `taps-t`
     * elemento taps
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TapsT extends Polymer.Element {
      static get is() { return 'taps-t'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'taps-t'
          }
        };
      }
    }

    window.customElements.define(TapsT.is, TapsT);
  </script>
</dom-module>
